[submodule "modules/infrastructure"]
	path = modules/infrastructure
	url = https://github.com/pirlruc/infrastructure.git
[submodule "modules/services"]
	path = modules/services
	url = https://github.com/pirlruc/services.git
[submodule "modules/drawer"]
	path = modules/drawer
	url = https://github.com/pirlruc/drawer.git
[submodule "modules/corecv"]
	path = modules/corecv
	url = https://github.com/pirlruc/corecv.git
